@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital@0;1&display=swap');

html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
    background-color: #1a1a1a;
}